%h1 Listing notes

= form_tag search_notes_path, :method => "get" do
  = label_tag :q, "Search for:"
  = text_field_tag :q, @q
  = submit_tag "Search" 

%table#notes.table.table-striped
  %tr
    %th User
    %th Content
    %th
    %th
    %th

  = render @notes
   

%br
= will_paginate @notes
%br
%br
= link_to 'New Note', new_note_path
= link_to "more", "javascript:", {:id => "more_notes", :class => "btn"}
